/* verify input styling */

/* .continue {
  
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom : 4rem;
  padding :2rem;
} */

/* verify2 */
#btn-verify-2upload {
  border-radius: 50%;
}


